google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
googlemaps
moviepy==2.2.1
instagrapi==2.15.0
dotenv
simplekml
